body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", monospace;
}

header{
    background-color: #1F2937;
}

.header-container{
    display: flex;
    flex-direction:row;
    flex: 1 1 auto;
    width: auto;
    gap: 30px;
}
.image-container{
    flex-grow: 0.8;
}

.nav{
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
}

.boxes {
    display:flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100vh;
}

.box{
    flex: 1;
    margin: 0px;
    border: 0px;
    padding: 0px;
}


.box.top{
    background-color: #1F2937;
    flex-grow: 0.8;
    display: flex;
    flex: 1 1 auto;
    padding: 75px;
}
.text.title{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px; 
}

.text.paragraph{
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
    line-height: 30px;
}

.signupbutton{
    text-decoration: none;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px;
    padding-left: +30px;
    padding-right: +30px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
}

.signupbutton:hover{
    background-color: #3881f67b;
}
.box.second{
    background-color: #ffff;
    
}

.box.third{
    background-color: #E5E7EB;
    
}

.box.fourth{
    background-color: #ffff;
    
}

footer{
    background-color: #1F2937;
    
}

#logo-image{
    padding-left: 5%;
    padding-right: 0;
    margin-right: 0;
    padding-top: 10px;
}